*{
    margin: 0;
    padding: 0;
}
.header-content{
 max-width:1440px ;
  max-height:652px;
    
background-image: url(assets/Hero-bg.png);

flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
padding: 30px 220px;
position: relative;
text-align: center;


}
/* shared styles */
.section-tittle{
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}
.section-description{
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
color: rgb(13, 19, 33);
}
/* banner styles */
.img-container{
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.banner-tittle{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
}
.banner-description{
flex: none;
 margin: 32px 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
}
.btn-primary{
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
margin: 32px 0px;
background: rgb(13, 19, 33);
padding: 21px 24px 21px 24px;
}

main{
    max-width: 1140px;
    max-height: 1395px;
    margin: 0 auto;
   
}
/* why web devolpoment styles */
.why-web{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 80px 97px 80px 97px;
    margin: 0px 10px;
  background-color: rgb(255, 255, 255)
  rgba(255, 255, 255, 0);
  background-color: rgba(13, 19, 33, 0.02);
}
.second-section-banner{
position: relative;
max-width: 946px;
max-height: 336px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 48px;
}
.second-section-banner1{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 20px;
    margin-right: 20px;
}
.second-banner-content{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    padding: 0px;  
    margin: 16px 0px
}
.second-section-description{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
margin: 16px 0px;
}
.second-btn{
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
padding: 12px 20px 12px 20px;
margin: 32px 0px;
}
/* second section style */
.inspiration-section{
width: 1140px;
height: 775px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
position: relative;
}

.inspiration-content{
    width: 1140px;
height: 614px;
padding: 32px;
margin: 48px 0px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;

}
.inspiration-content iframe {
    width: 1076px;
    height: 550px;
    border-radius: 16px;
  }
/* current target styles */
.current-target{
width: 1140px;
height: 460px;
padding: 0px;
margin: 111px 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
}
/* skill section styles here */
.skills-container{
    display: flex;
   gap: 24px;
   width: 1140px;
   height: 299px;
   margin: 32px 0px;
   padding: 40px;

}
.skill1{
    padding: 40px;
    margin: 0px 24px;
    border-radius: 5px;
    width: 364px;
height: 299px;
border-radius: 16px;

background: rgba(255, 76, 30, 0.05);

}
.skill2{
    padding: 40px;
    margin: 0px 24px;
    border-radius: 5px;
    width: 364px;
height: 299px;
border-radius: 16px;

background: rgba(0, 76, 232, 0.05);

}
.skill3{
    padding: 40px;
    margin: 0px 24px;
    border-radius: 5px;
    width: 364px;
height: 299px;
border-radius: 16px;

background: rgba(255, 223, 0, 0.05);

}
.skill-tittle{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800; 
}
.skill-description{
 color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
margin: 8px 0px;
}
.skill.btn{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
margin: 24px 0px
}
/* footer styles */
.footer-section{
background-image: url(assets/handshake.jpg);
 width: 1140px;
height: 314px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 64px 48px 64px 48px;
background-repeat: none;
background-position: center;
border-radius: 16px;

background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)
}

.footer-section1{
width: 1044px;
height: 186px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
}
.footer-tittle{
width: 230px;
height: 36px;
margin: 16px 0px;
color: rgb(255, 255, 255);

font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
}
.footer-description{
 color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
}
 .input{
width: 548px;
height: 57px;
display: block;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 19px 20px 19px 20px;
margin: 0px 16px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
display: block;
background: rgb(255, 255, 255);
margin: 32px 0px;
border: none;
}

.footer-section button{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    width: 120px;
    height: 58px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
   
}
.footer-column{
width: 900px;
height: 100px;
padding: 32px 150px 32px 150px;
border-radius: 16px;

background: rgba(13, 19, 33, 0.03);
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start

}
.footer-section [button] {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    width: 120px;
    height: 58px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.footer-section-tittle{
width: 1000px;
height: 36px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
}
.footer-section-tittle a  {
width: 36px;
height: 36px;

}
.footer-column a img {
    width: 30px;
    margin: 0 10px;
}