*{
    margin: 0;
    padding: 0;
}
.header-content{
 max-width:1440px ;
  max-height:652px;
    
background-image: url(assets/Hero-bg.png);

flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
padding: 30px 220px;
position: relative;
text-align: center;


}
/* shared styles */
.section-tittle{
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}
.section-description{
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
color: rgb(13, 19, 33);
}
/* banner styles */
.img-container{
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.banner-tittle{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
}
.banner-description{
flex: none;
 margin: 32px 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
}
.btn-primary{
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
margin: 32px 0px;
background: rgb(13, 19, 33);
padding: 21px 24px 21px 24px;
}

main{
    max-width: 1140px;
    max-height: 1395px;
    margin: 0 auto;
   
}
/* why web devolpoment styles */
.why-web{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 80px 97px 80px 97px;
    margin: 0px 10px;
  background-color: rgb(255, 255, 255)
  rgba(255, 255, 255, 0);
  background-color: rgba(13, 19, 33, 0.02);
}
.second-section-banner{
position: static;
max-width: 946px;
max-height: 336px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 48px;
}
.second-section-banner1{
    justify-content: flex-start;
    display: flex;
    align-items: center;
    padding: 20px;
    margin-right: 20px;
}
.second-banner-content{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    padding: 0px;  
    margin: 16px 0px
}
.second-section-description{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
margin: 16px 0px;
}
.second-btn{
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
padding: 12px 20px 12px 20px;
margin: 32px 0px;
}
/* second section style */
.inspiration-section{
width: 1140px;
height: 775px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
border: 2px solid red;
}
.video{
    width: 1076px;
height: 550px;
border-radius: 16px;


margin: 10px 0px;
}
/* current target styles */
.current-target{
width: 1140px;
height: 460px;
padding: 0px;
margin: 111px 0px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
}
/* skill section styles here */
.skills-container{
    display: flex;
   gap: 24px;
   width: 1140px;
   height: 299px;
   margin: 32px 0px;
   padding: 40px;

}
.skill1{
    padding: 40px;
    margin: 0px 24px;
    border-radius: 5px;
    width: 364px;
height: 299px;
border-radius: 16px;

background: rgba(255, 76, 30, 0.05);

}
.skill2{
    padding: 40px;
    margin: 0px 24px;
    border-radius: 5px;
    width: 364px;
height: 299px;
border-radius: 16px;

background: rgba(0, 76, 232, 0.05);

}
.skill3{
    padding: 40px;
    margin: 0px 24px;
    border-radius: 5px;
    width: 364px;
height: 299px;
border-radius: 16px;

background: rgba(255, 223, 0, 0.05);

}
.skill-tittle{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800; 
}
.skill-description{
 color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
margin: 8px 0px;
}
.skill.btn{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
margin: 24px 0px
}